* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", Arial;
  position: relative;
  min-height: 100vh;
  background: url("photos/DEFAULT.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.rectangle {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 530px;
  height: 350px;
  left: 150px;
  top: 100px;
  padding: 20px;
  background: rgba(35, 34, 34, 0.7);
  border-radius: 18px;
  transition: all ease 0.6s;
}
.rectangle:hover {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  box-shadow:#0093e9 4px 4px 20px;
}

.Weather,
.location-timezone {
  font-weight: 500;
  font-size: 28px;
  color: #ffffff;
}

.location-timezone {
  font-weight: 700;
  color: white;
}

.location {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: -3rem 0rem;
}

.degree-section {
  display: flex;
}

h2,
span {
  padding: 5px;
  font-weight: 400;
  font-size: 24px;
  color: #ffffff;
}

.temperature-description,
.Wind-Speed,
.speed,
.humidity,
.humidity-per {
  font-weight: 300;
  font-size: 16px;
  color: #ffffff;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.temperature {
  cursor: pointer;
}
footer a {
  text-decoration: none;
  color: black;
}
footer {
  position: absolute;
  display: flex;
  background: #1f2833;
  width: 100vw;
  height: 4%;
  bottom: 0;
  justify-content: center;
  align-items: center;
}

.icon {
  height: 70%;
  margin-right: 20px;
}
.Search {
  display: flex;
  margin-top: 8px;
  width: 70%;
  transition: all 0.5s ease-in-out;
}
#input {
  display: flex;
  flex-basis: 0;
  padding-left: 10px;
  width: 50%;
  flex: 1;
  height: 36px;
  font-size: 16px;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 4px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
input{
  font-size: 16px;
  font-family: Poppins, "sans-serif";
}

.search-button {
  border: 1px solid rgb(192, 192, 192);
  background-color: #f7f7f7;
  height: 36px;
  width: 66px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-left: -1px;
  margin-right: 10px;
}
@media only screen and (max-width: 760px) {
  .rectangle {
    width: 450px;
    height: 420px;
    padding: 22px;
  }
  .icon {
    height: 60%;
    margin-right: 5px;
  }
}
@media only screen and (max-width: 660px) {
  .rectangle {
    width: 350px;
    height: 480px;
    left: 15px;
  }
  .Search {
    width: 80%;
  }
}
