* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('Default.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.rectangle {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 700px;
    height: 500px;
    left: 182px;
    top: 12%;
    padding: 30px;
    background: rgba(35, 34, 34, 0.7);
    border-radius: 39px;
}

.Weather,
.location-timezone {
    width: 500px;
    height: 48px;
    font-family: 'Poppins';
    font-style: medium;
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;
    /* identical to box height */
    color: #FFFFFF;
    padding-top: 25px;
   
}

.location {
    display: flex;
}

.degree-section {
    display: flex;
}

h2,
span {
    padding: 5px;
    height: 48px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 32px;
    /* identical to box height */
    color: #FFFFFF;
    
}

.temperature-description,
.Wind-Speed,
.speed,
.humidity,
.humidity-per {
    width: 400px;
    height: 36px;
    line-height: 36px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;

    color: #FFFFFF;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.temperature {
    cursor: pointer;
}