* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins',Arial;
    position: relative;
    background: url('Default.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.rectangle {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 530px;
    height: 350px;
    left: 150px;
    top: 100px;
    padding: 20px;
    background: rgba(35, 34, 34, 0.7);
    border-radius: 39px;
}

.Weather,
.location-timezone {
    
    font-weight: 500;
    font-size: 28px;
    color: #FFFFFF;
}

.location-timezone {
    font-weight: 700;
}

.location {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.degree-section {
    display: flex;
}

h2,
span {
    padding: 5px;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    
}

.temperature-description,
.Wind-Speed,
.speed,
.humidity,
.humidity-per {
    font-weight: 300;
    font-size: 16px;
    color: #FFFFFF;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.temperature {
    cursor: pointer;
}